body
{
margin: 0;
    width: 1366px;
    background-color: #6ef0ff;

}
header
  {
    width: 100%;
      background-color: darkblue;
    height: 100px;
    overflow: hidden;
   margin-bottom: 0;
    color: silver;
  }

.h
{
    font-family: sans-serif;
    position: relative;
    left: 400px;
    font-size: 25px;

}
.i
{
    position: absolute;
    left: 630px;
    top: 60px;
}

#nav
{
    width: 70%;
    overflow:hidden;
    background-color: darkcyan;
    color: silver;
    margin-left:250px;

}
#nav li
{
    float: left;
    list-style: none;
 
}
#nav li a
{
    text-decoration: none;
    margin-right: 10px;
    padding-right: 10px;

}
#box
{
    background-color: white;
    border:5px solid red;
    box-sizing:border-box;
    -moz-box-sizing:border-box; /* Firefox */
    width:35%;
    margin-left: 230px;
}
